@import "../../styles/Variables.scss";
.nav-bar{
  box-sizing: border-box;
  height: 45px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  
  background: $colorBlackPrimary;
  border: 1px solid $colorBlackPrimary;
}
